
{% load static %}
<html>
<head>
    <title>{% block title %} COLLECTIONS {% endblock %}</title>
    <!--css, fonts-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

    <!--bootstrap-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css" media="screen, projection" />

    <!--custom, jquery scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>

</head>
<body>
    {% block header %}

    {% endblock %}

    {% block content %}

    <content>
        <div class="collections">
            {% for collection in collections %}
            <section>
                <h3><a href="{{collection.get_collection_url}}">{{collection.title}}</a></h3>
                <img src="{{collection.photo.url}}" />
            </section>
            {% endfor %}
        </div>
    </content>

    {% endblock %}
</body>
</html>